<!DOCTYPE html>
<html>
    <head>
        <title>Chat Application</title>
    </head>
    <body >
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <input type="text" name="username" id="username" placeholder="Username"></input>
            <button type="submit">Go</button>
        </form>
        
        <% for (var i = 0; i < users.length; i++) { %>
        <form action="/login" method="POST" enctype="multipart/form-data">
            <input type="hidden" display="none" name="id" value="<%= users[i]._id %>"></input>
            <p><button><%= users[i].username %></button></p>
        </form>
        <% } %>

    </body>
</html>