<!DOCTYPE html>
<html>
    <head>
        <title>Chat Application</title>
    </head>
    <body >
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <input type="text" name="username" id="username" placeholder="Username"></input>
            <input type="password" name="password" placehold="password"></input>
            <button type="submit">Signup</button>
        </form>
        
        <form action="/login" method="POST" enctype="multipart/form-data">
            <input type="text" name="username" id="username" placeholder="username"></input>
            <input type="password" name="password" id="password" placeholder="password"></input>
            <button type="submit">Log in</button>
        </form>

    </body>
</html>